
<h2 class='container'>Medical Professional Hub</h2>

<div class="content container">


  <div class="recent_patients">
    <ul>
      <% for @patient in @recent_patients %>

        <%= link_to "/admin/patient/#{@patient.id}" do %>
        <li>
          <%= @patient.name %> <br/>
          <%= @patient.nhs_number %>
        </li>
      <% end -%>
    <% end -%>
    </ul>
  </div>

  <div class="patient_status">

    <% if @focused_patient %>
      <h4>Patient Selected: <%= @focused_patient.name %> </h4>
      <p>These are the current modules for the patient</p>

      <% for @module in @current_modules %>
        <div class="module">
          <h3> <%= @module.name %> </h3>
          <p> <%= @module.description %> </p>
        </div>
      <% end -%>

    <% else %>

      No patient has been found with that ID

    <% end %>

  </div>
</div>

