<!DOCTYPE html>
<html>
<head>
  <title>GSTT Oncology</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="header container">
    <%= image_tag "nhs_logo.png" , { height: 50, class: 'nhs_logo'} %>
    <%= image_tag "gstt_logo.png" , { height: 50, class: 'gstt_logo' } %>
    <hr>
  </div>

<%= yield %>

</body>
</html>
